[2018-07-13 09:07] sven1103 opened #4 "Move test data to nf-core/test-data"
Create a new branch on nf-core/test-data and provide the test data for the hlatyping pipeline.

[2018-07-14 11:19] sven1103 commented on #4
Solved in #6

[2018-07-14 11:19] #4 closed

[2018-07-19 10:52] sven1103 opened #12 "Container image not pulled from shub on profile `singularity`"
Running the command
[code]
locally, does not pull the container from Singularity Hub, but Docker Hub and result in extensive CPU usage in order to create the sqash Filesystem.

Expected behaviour:
Given the profile `singularity`, the container should be pulled from Singularity Hub directly.

[2018-07-19 11:15] sven1103 commented on #12
It seems that defining `process.container = 'shub://nf-core/hlatyping'` int the `./conf/singularity.config` does not have an effect. However, when changing this to `process.container = 'shub://nf-core/hlatyping'`, the Singularity image is pulled from Singularity Hub, as expected.

[2018-07-19 11:29] apeltzer commented on #12
Had to look it up too, but I guess thats the reason:
https://www.nextflow.io/docs/latest/config.html#configuration-file

`nextflow.config` will be loaded first => as this already defines the container variable, this won't get overriden by `singularity.conf` if I'm not mistaken. The difference is between  `params` and `process`: The `params` are depending on the order of the profiles imported, wher

[2018-07-19 11:30] apeltzer commented on #12
I remember that Phil and me already had some issues to setting things right when coming up with this "link pipeline to container" thing...

[2018-07-30 06:43] ewels commented on #12
I think this is because the `test` profile loads the `base.config` again, which sets `process.container`. So this overwrites what was initially set in `singularity.config`.

Using `-profile test,singularity` may work, as the singularity profile is applied second. However, then `base.config` will be applied on top of the test profile again and will probably break stuff.

This is one of the reasons

[2018-07-30 11:08] sven1103 commented on #12
True, but using the `-profile singularity` option should pull from Singularity Hub imho, and not go the expensive way over Docker Hub.

Any opinions here?

[2018-07-30 11:14] ewels commented on #12
Yup, agreed..

[2018-07-30 11:15] sven1103 commented on #12
Now we just need a way to properly solve it :D Defining `params.container` again in the `singularity.config` works, but I am unsure, if this is the best way to go

[2018-07-30 12:37] ewels commented on #12
I can't remember why we set `params.container` now. Any reason why we can't just set `process.container` separately and explicitly in the `docker` and `singularity` configs?

I don't think that we can have `-with-docker` and `-with-singularity` work without arguments if we want separate defaults. But maybe that's fine...

[2018-07-30 13:57] PeterBailey opened #13 "HLA typing - mapping of RNAseq fastqs - avoiding RazerS ressource dependencies"
The following code below was modified in main.nf.

Simply removed the unzip process and replaced with modified yara mapper script.

The code was run as follows:

`nextflow run ~/nf_scripts/hlaTypingMaster -profile docker --reads '*_R{1,2}.fastq.gz' --seqtype 'rna' --outdir $PWD/SCC_hlatyping --index data/indices/yara/hla

[2018-07-31 07:39] sven1103 commented on #13
thanks @PeterBailey for reporting this. We will implement a pre-mapping step with yara in the next minor release of the HLA typing pipleline!

[2018-08-03 11:52] sven1103 commented on #13
solved in #15

[2018-08-03 11:52] #13 closed

[2018-08-03 11:54] sven1103 commented on #12
solved in #15

[2018-08-03 11:54] #12 closed

[2018-08-03 12:18] ewels commented on #12
It is? I can't see what you changed there in relation to this issue..?

[2018-08-07 11:45] apeltzer opened #16 "Add a DOI on first release"

[2018-08-08 09:41] Rotholandus opened #17 "No Container version found"
The Container version is not found

[code]

Only `nfcore/hlatyping:1.0.0` version available.

[2018-08-10 08:44] apeltzer commented on #17
I assume that @sven1103 will have to check this out...

[2018-08-15 12:05] #17 closed

[2018-08-16 08:12] sven1103 opened #29 "HLA reference: unclear release version"
Currently, it is not documented anywhere, which version of the HLA reference is used. EBI releases [several versions](https://www.ebi.ac.uk/ipd/imgt/hla/docs/release.html) during the year.

Also, in terms of reproducibility, it would be a nice feature, if the pipeline could be run given a user-defined release version of the HLA reference.

- [x] document the current reference version
- [ ] provide

[2018-08-17 11:28] PeterBailey opened #30 "HLA result files overwritten"
Multiple samples ingested into the pipeline produce only a single result file where multiple files are expected.

[2018-08-17 12:00] sven1103 commented on #29
Added some [documentation](https://github.com/nf-core/hlatyping/blob/master/docs/references.md) about the used HLA release.

[2018-09-25 13:19] sven1103 commented on #16
This can be closed, we have introduced the DOI badge already.

[2018-09-25 13:19] #16 closed

[2018-10-22 11:36] apeltzer opened #36 "Consider scrape_software_versions"

[2018-11-14 09:34] praveenbas opened #37 "Null -- hla reference index"
When I try to run the following command.

[code]

Execution stop with the error message

[code]

workflow take null as the reference instead of DNA as default.

[2018-11-15 16:17] sven1103 commented on #37
@praveenbas would you mind providing the `.nextlfow.log` file please? You can insert it in `https://pastebin.com` and post the link here. Thanks!

[2018-11-19 12:59] praveenbas commented on #37
https://pastebin.com/zpWFc7ge

[2018-11-19 13:39] sven1103 commented on #37
Thanks @praveenbas for pointing this out. The index location is not set, and should be `index = 'data/indices/yara/hla_reference_dna'`. I will fix this and push to `dev` right away

[2018-11-20 13:47] praveenbas commented on #37
@sven1103 , Tested the pipeline, it works fine.

[2018-11-20 15:30] sven1103 commented on #37
Thanks @praveenbas for the feedback! I will close this as soon as the PR is merged!

[2018-11-30 19:30] PhilPalmer opened #40 "Running with test parameters, how to specify readPaths"
Hi,

When I try running `hlatyping` with the test profile it works. However if I try passing what I think should be the same inputs as the test profile (for both the bam & fastq) it fails. I'm probably doing something wrong with passing the input parameters (esepcially `readPaths`) but any help would be much appreciated.

## BAM
I'm not exactly sure why but it seems like the `input_data` is not se

[2018-12-01 11:02] apeltzer commented on #40
Hm, could you try again with Nextflow 18.10.1.? This looks a bit like the nf_required_version is not defined but it should be...

[2018-12-01 22:53] PhilPalmer commented on #40
I retried it with nextflow v18.10.1, but unfortauntely I got the same error.
I think there may be a couple of problems:
1. The readPaths are not being speciifed properly. I think this is a problem caused from the mapping as I mentioned above, although I'm still not 100% sure I've specified them correctly.
2. The nf_required_version doesn't seem to be working properly. This is likely more minor err

[2018-12-12 12:15] sven1103 commented on #40
Hey @PhilPalmer,

i think the correct command has to be

[code]

Can you confirm this please?

Best, Sven

[2018-12-19 09:02] sven1103 commented on #40
Dear @PhilPalmer would you mind confirming the corrected command line execution? So I can close this issue ;)

[2018-12-20 10:56] PhilPalmer commented on #40
@sven1103 sorry for taking so long to reply.

Unfortunately, I'm afraid I'm still having issues:
[code]

Here's the log file: [nextflow.log](https://github.com/nf-core/hlatyping/files/2698536/nextflow.log)
I also tried on the dev branch but had the same problem there as well.

It looks like it's a problem with the `fromFilePairs` but I'm not exactly sure whats causing it
[code]

[2019-01-08 14:15] #37 closed

[2019-01-18 12:05] sven1103 commented on #40
Dear @PhilPalmer did @apeltzer's commit fix your issue?

[2019-01-31 08:50] #40 closed

[2019-01-31 09:08] apeltzer opened #48 "Use RNA/DNA reference genomes correctly."

[2019-03-06 10:16] apeltzer opened #51 "Fix configs release..."

[2019-03-07 09:53] #51 closed

[2019-03-07 10:26] giovianco opened #56 "Pipeline completed without hla_run_result.tsv file"
I'm launching the follow command line:

MacBook-Air-de-Juan:Test_1 JBH$ /Users/JBH/VHIO/Apps/nextflow run -r 1.0.0 nf-core/hlatyping --reads '/Users/JBH/VHIO/Data/*.bam' --bam --index data/indices/yara/hla_reference_dna -profile standard,docker --max_memory '7.GB' --max_cpus '2'
N E X T F L O W  ~  version 19.01.0
Launching `nf-core/hlatyping` [kickass_swartz] - revision: 41d7b6baf7 [1.0.0]
WARN:

[2019-03-07 12:10] apeltzer commented on #56
Please use the newest release and report back:

`-r 1.1.4`

[2019-03-07 16:05] giovianco commented on #56
It's working! Thanks a lot!

[2019-03-07 16:05] #56 closed

[2019-04-08 11:44] sven1103 opened #57 "Parse parameters.settings.json and display params with description in --help"
x-ref: https://github.com/nf-core/tools/issues/267

Proof of concept implementation.

[2019-04-11 08:48] christopher-mohr commented on #57
In one of the recent commits I noticed that parameter value ranges are currently displayed like that in the help message:

`--beta          [0.0, 0.1]    Shows additional n-1 suboptimal solutions from OptiType`
`--enumerations  [1, 150]      Shows additional n-1 suboptimal solutions from OptiType.`

Maybe it would be better to use a different notation for ranges than for "valid values", e.g.:

`--

[2019-04-11 15:18] sven1103 commented on #57
x-ref https://github.com/nf-core/tools/issues/267

@KochTobi can you change this in the template? Ranges should be assigned with `:`, enums separated with `,`.

[2019-07-26 09:13] sven1103 opened #64 "nf-core pipelines should provide structured output information"
Motivated here at the BOSC CodeFest, we were thinking about that nf-core pipelines should also describe output information next to the parameter metadata.

Currently, we have a proof-of-concept implementation with the `parameters.settings.json` and a JSON schema (https://nf-co.re/parameters.schema.json). This provides basically the `I` part in `IO`, but we haven't covered the `O` part yet.

Why is

[2019-07-26 10:04] apeltzer commented on #64
Maybe move this to somewhere more centrally - I think its a good idea but generalizes to other pipelines of course so should be somewhere more centrally (tools? )

[2019-07-26 11:03] sven1103 commented on #64
Done https://github.com/nf-core/tools/issues/359

[2019-07-26 11:03] #64 closed

[2019-10-19 20:54] acrinklaw opened #67 "Plans on class II?"
Any plans on implementing tools that can perform class II typing as well?

[2019-10-20 10:20] apeltzer commented on #67
@christopher-mohr are there?

[2019-10-21 08:55] christopher-mohr commented on #67
Class II typing will be part of OptiType 2 which is currently under development. I would suggest to use it in this pipeline when its released.

[2019-10-21 09:09] acrinklaw commented on #67
Thanks for the response! I'm glad to hear there will be an OptiType 2. We currently have to rely on a combination of class I calls from OptiType and class II from other tools but the accuracy has been markedly lower for the non-OptiType results.

[2019-11-12 02:41] kkyung412 opened #68 "'remap_to_hla' index declaration"
Hi, I have a problem.
How can I solve the problem?

[code]
Tip: you can replicate the issue by changing to the process work dir and entering the command `bash .command.run`

[2019-11-12 09:10] apeltzer commented on #68
Can you post your command line used and the `.nextflow.log` file?

[2020-01-16 12:25] gurpreet-bioinfo opened #70 "Remove --genome and igenomes config from this pipeline as it is not used"
Hi,

I have used the following command for hlatyping on paired-end rna-seq data:

[code]
I am getting following error with config and GRCh38:
[code]
For https://github.com/nf-core/rnaseq , GRCh38 is available, so I expected it for hlatyping pipeline too.

Please help.

Thanks.
Gurpreet

[2020-01-16 16:41] ggabernet commented on #70
Hi Gurpreet,

thanks for opening this issue. The GRCh38 reference genome needs to be added to this pipeline, unfortunately we need to add the references to each of the pipelines individually, in the `igenomes.config` https://github.com/nf-core/hlatyping/blob/master/conf/igenomes.config.

[2020-01-17 09:22] gurpreet-bioinfo commented on #70
Hi Gisela,

Thank you for your reply.

Taking [this](https://gatk.broadinstitute.org/hc/en-us/articles/360035890951-Human-genome-reference-builds-GRCh38-or-hg38-b37-hg19) into account, I would like to use GRCh38.

However, I don't know how much time-consuming it would be to add GRCh38. Do you think it can take quite a while? If so, I can go with GRCh37.

Thanks.
Gurpreet

[2020-01-17 09:45] drpatelh commented on #70
Hi @ggabernet @gurpreet-bioinfo . I have updatesd the `igenomes.config` in the pipeline template to contain all relevant file paths for all nf-core pipelines. This just means we have to update this file in one place and the changes will be propagated to pipelines via the automated synchronisation when `nf-core tools` is released.

@gurpreet-bioinfo This means that this genome won't be available to

[2020-01-17 09:46] ggabernet commented on #70
Hi Grupreet,

I just got the info from @christopher-mohr that the pipeline does not use the reference genome so far, but an internal HLA reference. Therefore, you can ignore the `--genome` parameter or just use for now `--genome GRCh37` with no difference.

I'll leave this issue though as either the updated reference should be used or the parameter removed from the pipeline to avoid confusions.

[2020-01-17 09:47] ggabernet commented on #70
Thanks @drpatelh , adding it to the template is a great idea!

[2020-01-17 09:53] gurpreet-bioinfo commented on #70
Thanks @drpatelh for fixing it for all nf-core pipelines. It will be very useful.

Thanks @ggabernet for the clarification.

[2020-01-17 11:31] ggabernet opened #71 "parameters missing in docs toc"
Hi,

just to document this, there are some parameters missing in the docs. E.g. :

`--seqtype 'rna'`

[2020-01-17 11:36] christopher-mohr commented on #71
Its documented here: https://github.com/nf-core/hlatyping/blob/master/docs/usage.md

[2020-01-17 11:43] ggabernet commented on #71
Ah yeah, I didn't find it in the toc, so thought it was not there. Changed the issue name then! ;)

[2020-01-23 12:47] gurpreet-bioinfo opened #72 "Aggregate results from multiple samples"
Hi there,

Is there any possibility to aggregate results from multiple samples of hlatyping output similar to what one gets as MultiQC report from rnaseq pipeline? Only software versions and workflow
summary appear in MultiQC of hlatyping and no information about the analysis.

Off course, one can combine the tsv files from each folder (for each sample), but a way for comparative visualization wou

[2020-01-23 12:57] gurpreet-bioinfo commented on #67
Hi @acrinklaw Do you have any recommendation for class II tools for hlatyping?

[2020-01-26 19:17] apeltzer commented on #72
It would be possible to create some [custom content](https://github.com/ewels/MultiQC/blob/master/docs/custom_content.md) for MultiQC and add this to the pipeline - Pull Requests / Feature implementations are always welcome here at nf-core :-)

[2020-01-26 19:18] apeltzer commented on #72
(e.g. the nf-core/rnaseq pipeline does something similar like this with the biotypes stuff...)

[2020-01-26 19:43] gurpreet-bioinfo commented on #72
@apeltzer  Thanks for the pointers.
So far I managed by creating ggplot from multiple samples, but would look into [custom content](https://github.com/ewels/MultiQC/blob/master/docs/custom_content.md) too. :-)

[2020-01-31 23:11] acrinklaw commented on #67
We use either PHLAT (which has low accuracy) or HLA-HD (which has significant runtime)

[2020-02-01 19:54] gurpreet-bioinfo commented on #67
Ok, thanks @acrinklaw !

[2020-03-25 07:55] NTNguyen13 opened #74 "Cannot run HLATyping with user-specific BAM file"
Hi, I have installed HLAtyping with nextflow, I can run
`nextflow run nf-core/hlatyping -profile docker,test --outdir $PWD/results
`
However, I want to use my own bam file as input, so I used this command (revised from https://github.com/nf-core/hlatyping/issues/70)

`./nextflow run nf-core/hlatyping -profile docker --bam '/home/thanh/IGSR_Project/1000GVN_aln/VN_01_00_0089_01_01.bam' --genome GRCh

[2020-03-25 07:59] christopher-mohr commented on #74
Hi @NTNguyen13,

did you try running it without `--genome GRCh38`and without `-c genomes.config` ?

[2020-03-25 08:28] NTNguyen13 commented on #74
yes, when I run it without those 2 parameters, I got this error:
[code]

[2020-03-25 08:56] christopher-mohr commented on #74
Could you post the command you used this time? The lines at the beginning are just warnings because of the undefined parameters.

[2020-03-25 09:08] NTNguyen13 commented on #74
`./nextflow run nf-core/hlatyping -profile docker --bam '/home/thanh/IGSR_Project/1000GVN_aln/VN_01_00_0089_01_01.bam' --outdir /home/thanh/IGSR_Project/1000GVN_result/VN_01_00_0089_01_01/hla/
`

this is the command that I used, I only removed those 2 parameters

[2020-03-25 09:47] ggabernet commented on #74
Hi @NTNguyen13 , thanks for opening the issue!

Could you post the full error from the second time you run it? It does not seem to be complete, here there is no error, just warnings.

[2020-03-25 09:52] NTNguyen13 commented on #74
Hi @ggabernet , here is it:

Command:
`./nextflow run nf-core/hlatyping -profile docker --bam "/home/thanh/IGSR_Project/1000GVN_aln/VN_01_00_0089_01_01.bam" --outdir /home/thanh/IGSR_Project/1000GVN_result/VN_01_00_0089_01_01/hla/`

Output:
[code]

I have checked the output folder, there's only a folder named `pipeline_info`, with 1 file `execution_trace.txt`, content:
`task_id	hash	native_id	name

[2020-03-25 09:53] christopher-mohr commented on #74
Sorry @NTNguyen13 I just realised that the parameters are not used correctly.

The parameter `--bam` is a boolean parameter. Please specify the bam file using the reads parameter and specify `--bam` additionally. If you have single end data you will need this parameter as well (`--single_end`).

[2020-03-25 10:14] NTNguyen13 commented on #74
Hi, I have edited my command into `./nextflow run nf-core/hlatyping -profile docker --readPaths "/home/thanh/IGSR_Project/1000GVN_aln/VN_01_00_0089_01_01.bam" --bam --outdir /home/thanh/IGSR_Project/1000GVN_result/VN_01_00_0089_01_01/hla/`

This time I got the output:
[code]

content of execution_trace:
[code]

[2020-03-25 10:21] christopher-mohr commented on #74
As stated here, there is unfortunately not sufficient memory available.

[2020-03-25 11:35] NTNguyen13 commented on #74
Hi, I have used another computer with sufficient memory, and run the same command, this time it gives the following error:
[code]

I have checked the path by using
[code]

What have gone wrong this time?

[2020-03-25 11:40] christopher-mohr commented on #74
Just to be sure: your bam file originates from paired end data?

[2020-03-25 15:28] NTNguyen13 commented on #74
Yes, the bam file is paired-end, preprocessed by marking duplicate and sorting

[2020-03-26 11:45] christopher-mohr commented on #74
I'm currently looking into the last error. Somehow the bam file name ($bams) here

[code]

gets substituted by the letter "h" in your case:

[code]

Are there maybe some odd characters in the command you used?

[2020-03-26 14:02] NTNguyen13 commented on #74
I didn't setup the docker on the new computer so I used conda instead, the full command is:

`./nextflow run nf-core/hlatyping -profile conda --readPaths "/home/thanh/IGSR_Project/1000GVN_aln/VN_01_00_0089_01_01.bam" --bam --outdir /home/thanh/IGSR_Project/1000GVN_result/VN_01_00_0089_01_01/hla/`

[2020-03-30 03:36] NTNguyen13 commented on #74
Hi, sorry for not being able to get back sooner.

I tried to replace it with `--reads`, it seems to run smoothly until hit the runtime limit error:
`./nextflow run nf-core/hlatyping -profile conda --reads "/home/lucis/IGSR_Project/1000GVN_aln/VN_01_00_0089_01_01.bam" --bam --outdir /home/lucis/IGSR_Project/1000GVN_result/VN_01_00_0089_01_01/hla/`
[code]

I check `htop` and found that the samtools

[2020-03-30 08:01] christopher-mohr commented on #74
At least it seems to run now ;). Could you please try the following:

- Create a file `whatevernameyoulike.config`
- Put the following content in the file
[code]
- Run the previous command again using the following additional parameters:
`-c whatevernameyoulike.config -resume`

[2020-03-30 10:51] christopher-mohr opened #75 "Fix input parameter"
Something seems to be wrong with the parameters `--reads`and `--readPaths` (see #74). Besides, the input parameter should be changed to `--input`.

[2020-03-30 14:33] NTNguyen13 commented on #74
Hi, it's me again
I tried to increase it to 5h but it still didn't work.
[code]

May this be solved if I provide the fastq file instead? In case I have paired-end reads from multiple lanes, how can I organize the input?

[2020-03-30 14:38] christopher-mohr commented on #74
Hi, if you want to use fastq data, please specify it as following:

[code]

The pattern has to match your paired-end files.

[2020-03-30 14:44] NTNguyen13 commented on #74
VN_01_00_0089_01_01_S2_L004_R2_001.fastq
VN_01_00_0089_01_01_S2_L004_R2_001.fastq
VN_01_00_0089_01_01_S2_L004_R2_001.fastq

[2020-03-30 14:47] christopher-mohr commented on #74
Did you post this accidentally? :)

[2020-03-30 14:47] NTNguyen13 commented on #74
In case I have reads from 3 lanes, for example:
[code]

then I should input them as
`--reads 'path/to/data/sample_L{1,2,3}_{1,2}.fastq'
`

am I right?

[2020-03-30 14:49] christopher-mohr commented on #74
The reads from multiple lanes won't be added up. You can either use the reads from each lane separately or merge the lanes and provide the merged lanes as input.

[2020-03-30 14:51] NTNguyen13 commented on #74
Okay, I will try to use the fastq file

[2020-04-02 01:45] NTNguyen13 commented on #74
Hi, thank you for your support. I have tried both ways, using bam and fastq files:
- Using BAM file taking really a lot of time. The `remap_to_hla` process took around 16hr on my sample, then 6 more hours in `run_optitype`. Besides, it creates many intermediate files, from 1 50GB BAM files, it make 4-5 intermediate files that take up total near 1TB of storage.
- Using FASTQ file only take 3hr in t

[2020-04-02 07:23] christopher-mohr commented on #74
Hi, so did it run through in the end?

Thanks for your feedback. I will take a look at the code again to see if something is wrong there.

[2020-04-09 03:45] #74 closed

[2020-04-28 19:52] micknudsen opened #76 "The --index option is ignored"
When I run the command `nextflow run nf-core/hlatyping --reads '*_R{1,2}.fastq.gz'  -profile docker`, it fails in the `pre_map_hla`step with the following error:

[code]

The file **does** exist, so I thought it might be an issue with Docker not being able to see the file. I therefore copied `indices` to the folder, where my FASTQ are, and ran `nextflow run nf-core/hlatyping --reads '*_R{1,2}.fast

[2020-04-29 05:51] christopher-mohr commented on #76
Hi @micknudsen, thanks for reporting this. Haven't seen this before... Which nextflow and pipeline version are you using?

[2020-04-29 06:10] micknudsen commented on #76
Hi @christopher-mohr. I just tried to reproduce the error on a different machine, but everthing worked perfectly – also with the index in the default location. I will follow up on this issue, when I get back to the machine which produced the error.

[2020-04-29 15:42] micknudsen commented on #76
The issue appears to be caused by running the pipeline on an external harddrive. When I run it on my internal (system) harddrive, there are no problems (except that I will eventually run out of space).

[2020-04-29 16:32] christopher-mohr commented on #76
Could it be a permission issue?

[2020-04-29 16:59] micknudsen commented on #76
I suppose it has something to do with Docker. Outside Docker, there are no permission issues. My external drive is mounted at `/Volumes/` (the standard location on a Mac), and Docker has permission to mount it.

<img width="470" alt="Screen Shot 2020-04-29 at 18 46 42" src="https://user-images.githubusercontent.com/5486653/80622921-c6285880-8a49-11ea-973e-04ee02cb29e7.png">

I can use `--outdir` t

[2020-04-29 18:43] micknudsen commented on #76
I don't know much (anything ) about Docker, but I think this line in `.command.run` may provide a clue:

`docker run -i --memory 8192m -e "NXF_DEBUG=${NXF_DEBUG:=0}" -v /Volumes/G-DRIVE/temp/work:/Volumes/G-DRIVE/temp/work -v /Users/micknudsen/.nextflow/assets/nf-core/hlatyping/bin:/Users/micknudsen/.nextflow/assets/nf-core/hlatyping/bin -v "$PWD":"$PWD" -w "$PWD" --entrypoint /bin/bash --name $NX

[2020-04-29 18:50] christopher-mohr commented on #76
As far as I remember `--index` is only used with the `--bam` parameter.

Which files are available in the directory `/Users/micknudsen/.nextflow/assets/nf-core/hlatyping/data/indices/yara/`? Which permissions are set in this folder?

The index path is set in `nextflow.config` as the following:
`index = "$baseDir/data/indices/yara/hla_reference_dna"`

[2020-04-29 19:02] micknudsen commented on #76
This is really odd. I tried manually editing `nextflow.config` to use the index copy on my external drive, however the problem persists, even though the file certainly does exist:

[code]

For the first part of your question, here are the contents of my `indices/yara`folder:

[code]

[2020-04-30 06:55] apeltzer commented on #76
This is most likely a bug:

The process `yara_index` uses the parameters `base_index` + `full_index` to define the full index path - whereas our checks only verify a variable `index`.

See here:

https://github.com/nf-core/hlatyping/blob/bf5d0c2d4646df8ce240230b1a15c0a241658a07/main.nf#L279

One should probably fix this by making at least the variable names consistently available so that a user ca

[2020-05-28 19:02] pandyark opened #77 "configbuilder: command not found"
I am using the offline version of hlatyping pipeline, when I run the pipeline using the following command in lsf script I get the error : .command.sh: line 2: configbuilder: command not found

**Command used to run the pipeline:**
nextflow run /nf-core-Pipelines/nf-core-hlatyping-1.1.5/workflow/ -profile singularity -with-singularity nf-core-Pipelines/nf-core-hlatyping-1.1.5/singularity-images/nf-

[2020-06-02 08:16] christopher-mohr commented on #77
Hi, this might be related to Singularity and it might not be able to find the container. Can you make sure that Singularity is working properly?

[2020-06-19 07:44] ggabernet commented on #68
We had a revisit to this issue in slack, and @pditommaso pointed out the issue is that the full index should be declared in the input of this process properly:

https://github.com/nf-core/hlatyping/blob/master/main.nf#L279

[2020-07-23 05:43] #48 closed

[2020-07-23 05:45] christopher-mohr commented on #57
I guess this will be handled by the upcoming JSON schema and can be closed?

[2020-07-23 05:47] christopher-mohr commented on #67
I will close this for now but we will come back to this topic when OptiType 2 is available.

[2020-07-23 05:47] #67 closed

[2020-07-23 07:23] KochTobi commented on #57
I guess so, yes

[2020-07-23 07:23] #57 closed

[2020-07-24 13:30] nvk747 opened #88 "Erorr running hlatyping with singularity"
I am currently using Conda for next flow with following version:
Version: 20.04.1 build 5335
  Created: 03-05-2020 19:37 UTC (15:37 EDT)
  System: Mac OS X 10.14.6
  Runtime: Groovy 2.5.8 on OpenJDK 64-Bit Server VM 11.0.1+13-LTS
  Encoding: UTF-8 (UTF-8)
When I run this command :

 `(nextflow) lri-108040:hlatyping nagampv$ nextflow run ../hlatyping --input "/Users/nagampv/Desktop/nagampv_projects

[2020-07-24 13:36] apeltzer commented on #88
You need to install singularity first ;-)

[2020-07-24 13:38] nvk747 commented on #88
Ohh i Thought it installs automatically
if that is the case I will close the issue

[2020-07-24 13:40] #88 closed

[2020-08-06 12:14] #68 closed

[2020-08-12 07:08] christopher-mohr commented on #76
Fixed by #79.

[2020-08-12 07:08] #76 closed

[2020-08-21 08:46] ggabernet commented on #71
As the params are now in the nextflow schema anyways, this is no longer needed

[2020-08-21 08:46] #71 closed

[2020-08-21 08:48] ggabernet commented on #70
unnecessary param `--genome` has been removed so this is solved too!

[2020-08-21 08:48] #70 closed

[2020-08-21 08:49] ggabernet commented on #75
done in #96

[2020-08-21 08:49] #75 closed

[2020-09-14 11:13] cariaso opened #102 "aws specific crash with multiqc"
commandline
`nextflow -c nfconf.txt run nf-core/hlatyping -profile awsbatch,test  --awsqueue arn:aws:batch:eu-west-1:123456789:job-queue/test123aqueue --awsregion eu-west-1 --awscli /usr/local/bin/aws -bucket-dir s3://test123-nf-logs/hlarun/test1  --outdir s3://test123-nf-runs/hlarun/test1`

[code]

contents of nfconf.txt are just

[code]

[2021-02-02 14:39] apeltzer opened #104 "Provide design file input"
Having some type of `--input` parameter and thus a sample sheet would be very nice 👍🏻

[2021-02-03 13:51] apeltzer opened #105 "Add OptiType results to MultiQC"
Should / could be a nice little table or custom module - could also have a simple `samtools idxstats` output in the same to display mapping stats of the different libraries independent of the mapper being used.

[2021-02-03 13:52] apeltzer opened #106 "Provide bwa mem / bwa mem2 mode"
Only for required genome fasta / subset for HLA to make mapping much faster and less memory intensive.

[2021-02-03 13:57] christopher-mohr commented on #105
Related to issue https://github.com/nf-core/hlatyping/issues/72 ?

[2021-02-03 13:59] christopher-mohr commented on #77
I guess we can close this due to missing feedback

[2021-02-03 15:01] apeltzer commented on #105
Yeah goes down the same road, but if we add samtools idxstats one would get a bit more than just the optiType results in the end :-)
Though I have to see if its easier to have a OptiType Module for MultiQC or just write some custom code + module later for a new release of MultiQC :-)

[2021-02-03 15:01] apeltzer commented on #77
Looks like a singularity issue indeed

[2021-02-03 15:01] #77 closed

[2021-02-03 22:14] apeltzer opened #107 "Clean up Tempalte branch"
https://nf-co.re/developers/sync#fixing-a-broken-template-branch

(I'm on it, though this pipeline had a extreme case. Template wasn't really having initial commits that were done using sync, as we've been playing with this pipeline in the very beginning). I've created a completely fresh TEMPLATE branch in this case, we need to merge this once using the commandline to `dev` now and then things sho

[2021-02-04 12:11] szymonwieloch commented on #104
Hi! I also had some issues because of missing input sheet file and maybe I can describe them to you, so that you can make up your mind about this feature.

1. The current --input <glob regex> approach does not work in certain scenarios. I have a directory structure where the directories (not files) are symlinks. It turns out that the NextFlow `file(<glob regex>)` function does not handle those cas

[2021-02-04 12:12] szymonwieloch commented on #102
I experience the same issue.

[2021-02-04 13:14] szymonwieloch opened #108 "Make the pipeline run with different file sizes"
Hi! I have a problem with running this pipeline. It seems that it incorrectly chooses memory requirements for files. This is especially problematic with very big files. My biggest file during tests was 16 GB, but in the future we may have much bigger. Such a size requires 256 GB of memory for the run_optitype process.

My issue is that the hlatyping pipeline does not allow you by default to handle

[2021-02-04 13:23] christopher-mohr commented on #108
Hi @szymonwieloch, thanks for reporting and providing detailed information on this. We will check this and get back to you.

[2021-02-22 21:56] ibwoo opened #109 "OptiTypePipeline.py error "Could not retrieve index file""
I'm using Nextflow v21.02.0-edge, nf-core hlatyping pipeline v1.2.0 and Singularity v3.6.4-1.el7.
The `test_rna` and `test` profiles work as expected for me. However, running paired-end RNA fastq data through the pipeline leads to the following error:

[code]

I've tried running these samples with the sge executor on our cluster and also in local mode after logging in to a session on a work node,

[2021-03-01 21:46] szymonwieloch opened #110 "Pipeline fails when using a relative path for base_index_path"
Normally when you use the `--base_index_path` parameter, you want to use a relative path, something like:

[code]

Unfortunately this does not work. The error message in the log is strange and says something about a XML validation. Anyway, the same absolute path works fine. I believe that this line is responsible for the problem:

https://github.com/nf-core/hlatyping/blob/master/main.nf#L248

[cod

[2021-03-03 16:35] szymonwieloch opened #111 "Unclear how to build files for base_index_path"
I've tried to use a custom reference file. I have a file in the fasta format. I used Yara tool (http://packages.seqan.de/yara) to repack the fasta file into a supported format. My command was something like

[code]
It seemed to produce valid files, similar to the files in your data/indices/yara directory. Unfortunately after running the pipeline if failed with the following error:

[code]

At the

[2021-03-03 16:41] szymonwieloch opened #112 "Add yara indexing to the pipeline"
Hi!

This issue is related to this one: https://github.com/nf-core/hlatyping/issues/111

I would like to be able to run the pipeline using just a fasta file as a reference. Internally the pipeline should run the yara_indexer in the right way and produce all the indexes that are later used by OptiType. you would use it in the following way:

[code]

I believe that this solution would not only be th

[2021-03-06 21:01] apeltzer commented on #105
https://github.com/ewels/MultiQC/pull/1387

[2021-03-16 16:31] ibwoo commented on #109
Investigating this further, Nextflow does seem to abort the OptiType process early after that pysam warning appears. If OptiType is allowed to continue (by running it directly, in verbose mode) it completes successfully and the results match the expected HLA type for the sample. I don't know why this happens on my RNA samples but the pipeline works fine on the `test_rna` dataset.

Perhaps [OptiTyp

[2021-03-16 16:49] apeltzer opened #113 "HLATYPING: Convert usage docs to JSON schema parameter docs"
Hi!

this is not necessarily an issue with the pipeline, but in order to streamline the documentation group next week for the hackathon, I'm opening issues in all repositories / pipeline repos that might need this update to switch from parameter docs to auto-generated documentation based on the JSON schema.

This will then supersede any further parameter documentation, thus making things a bit eas

[2021-03-16 16:55] apeltzer commented on #109
Thank you for looking into this - I'm going to have a look at this during next weeks hackathon and will work on a revamp of the entire pipeline during that time: https://nf-co.re/events/2021/hackathon-march-2021

If you want to join, please feel free to do so :-)

[2021-03-17 10:44] christopher-mohr commented on #109
I ran the pipeline with RNA data and it worked although I have the reported `warnings`:

[code]

Potential reasons for the error I can think of at the moment is a resource issue or the `Nextflow` version.

[2021-03-17 11:15] christopher-mohr commented on #109
It worked with `NF version 19.10.0 build 5170` and `NF version 20.10.0 build 5430`, which has been used @ibwoo. So this is not the problem here.

[2021-03-17 12:44] apeltzer commented on #109
Maybe the pysam version being used with optitype is not fully fine then? OptiType might use 0.15 whereas Bioconda ships with 0.16+ now?

[2021-03-17 12:47] apeltzer commented on #72
Closing in favour of #105

[2021-03-17 12:47] #72 closed

[2021-03-17 12:49] apeltzer opened #114 "Improve resource management of pre-filtering step"
as on the tin

[2021-03-17 12:51] apeltzer opened #115 "DSLv2ify the pipeline"
This will require making modules for the steps we need in the pipeline:

- [x] BWA Mem
- [ ] Yara
- [x] Samtools
- [x] OptiType
- [x] MultiQC

Parts of this already handled upstream in nf-core/modules, new tools release 1.13 should do help a lot to make this possible in the next two days.

[2021-03-17 12:51] apeltzer commented on #115
key word: `nf-core module create`

[2021-03-17 13:15] christopher-mohr commented on #109
But I used the `hlatyping` pipeline and it worked. So the `pysam` version shouldn't be the problem.

[2021-03-17 13:32] apeltzer commented on #109
Its a warning anyways, so I think shouldn't be a big issue then. Anyways, we'll have a look next week to make sure this is no show-stopper...

[2021-03-22 12:14] #113 closed

[2021-03-24 18:53] rivera10 commented on #115
https://github.com/nf-core/modules/pull/353

[2021-03-24 18:53] #115 closed

[2021-03-25 08:38] apeltzer commented on #112
We added a YARA index module for DSL2, which means there is going to be a YARA index possibility for the new planned release.

[2021-05-01 01:17] joonan30 opened #121 "Clean up the temp folder"
Thanks for the tool.

One quick question: is there a command or config to remove or clean up the temp folder (`work`)?

I am running ~100 human samples so try to keep some disk space from multiple temp folders.

[2021-05-01 02:29] joonan30 commented on #121
I think this works for me https://github.com/nextflow-io/nf-hack18/issues/3

I added `cleanup=true` to config

[code]

[2021-05-03 06:04] christopher-mohr commented on #121
Hi @joonan30, good to hear that this works for you! Can we close this issue or do you need any further assistance?

[2021-05-03 12:02] #121 closed

[2021-07-20 15:30] varun171 opened #125 "Getting unbound variable error in optitype(hlatyping) pipeline: Can someone help me"
The exit status of the task that caused the workflow execution to fail was: 1

Error executing process > 'pre_map_hla (1)'

Caused by:
  Process `pre_map_hla (1)` terminated with an error exit status (1)

Command executed:

  yara_mapper -e 3 -t 6 -f bam yara/$baseDir/data/references unzipped_1.fastq unzipped_2.fastq > output.bam
  samtools view -@ 6 -h -F 4 -f 0x40 -b1 output.bam > mapped_1.bam

[2021-07-20 22:06] varun171 opened #126 "Markduplicate in Sarek pipeline is not completing (running for 4 hours) in spark cluster..does anyone know about this.."
Markduplicate in Sarek pipeline is not completing (running for 4 hours) in spark cluster..does anyone know about this..

[2021-07-21 06:38] apeltzer commented on #126
Please open an issue in Sarek then and ask there https://github.com/nf-core/sarek or in the Slack channel http://nf-co.re/join

[2021-07-21 06:38] #126 closed

[2021-07-22 10:15] christopher-mohr commented on #125
Hi @varun171, which command did you use to start the pipeline?

[2021-07-22 11:44] varun171 commented on #125
Hi Christopher, I used following command.
nextflow run 'https://github.com/nf-core/hlatyping'
		 -name hungry_stallman
		 -params-file nf-150Rok5sWh0TRL.params.json
		 -with-tower
		 -r 1.2.0

[2021-07-23 05:28] christopher-mohr commented on #125
It could be this [issue](https://github.com/nf-core/tools/pull/778). Which Nextflow version are you using?

[2021-07-23 06:06] varun171 commented on #125
I am using 21.04.0 build 5552.

[2021-07-23 06:27] christopher-mohr commented on #125
Would it be possible for you to use Nextflow < 20.04 and check if it works?

[2021-10-13 10:27] Biojenifer opened #128 "Cannot find any reads matching: "mypath/sampleID_*.fastq.gz""
Hi!

I am using the program with the following command:

` nextflow run main.nf -profile singularity --input "/home/1_sequencing/sampleA/sampleA*fastq.gz"`

And I am getting these errors:

[code]

I'm already quoting the path to the fastq files and using one wildcard, as you can see.  Moreover, I've also tryed to add to `$PATH` the path to the fastq files, but I get the same error. Do you know how

[2021-10-13 10:54] #128 closed, assigned to nobody

[2022-01-07 21:18] vsmalladi opened #130 "azure specific crash with multiqc"
Error

Missing output file(s) `multiqc_plots` expected by process `multiqc (1)`

Trying with config test, azurebatch

[2022-01-07 21:19] vsmalladi commented on #102
Experience similar issue on Azure. #130

[2022-10-11 10:15] christopher-mohr commented on #125
Closed due to lack of feedback.

[2022-10-11 10:15] #125 closed

[2022-10-11 10:19] christopher-mohr commented on #107
@apeltzer Do we still need to do this?

[2022-10-11 10:20] christopher-mohr commented on #104
Solved by #140.

[2022-10-11 10:20] #104 closed

[2022-10-11 12:45] apeltzer commented on #107
No, this is now outdated!

[2022-10-11 12:45] #107 closed

[2022-10-11 15:57] #130 closed

[2022-10-11 15:58] vsmalladi commented on #102
Fixed with new optional mutliqc

[2022-10-11 15:58] #102 closed

[2022-10-13 07:18] #105 closed

[2022-10-13 08:00] christopher-mohr commented on #112
`YARA` indexing has been added to the pipeline with the DSL2 port. I would suggest to close this issue and make a new one for the possibility to provide a FASTA file as reference. This can then be implemented for `2.1`. What do you think @apeltzer?

[2022-10-13 08:03] apeltzer commented on #112
Yes please

[2022-10-13 08:03] #112 closed

[2022-10-13 10:35] christopher-mohr commented on #114
Note sure what this entails. Probably solved with the new version?

[2022-10-13 12:18] #114 closed

[2022-10-14 12:30] christopher-mohr commented on #29
The HLA reference which is provided is documented in the [usage.md](https://github.com/nf-core/hlatyping/blob/dev/docs/usage.md#hla-references). This is also used as default reference version.

I will open a separate issue for adding the functionality to process "custom" references.

[2022-10-14 12:30] #29 closed

[2022-10-27 05:11] chrstphdm commented on #106
Hi there.

Very good idea !
What about using the new genome mapper[DRAGMAP](https://gatk.broadinstitute.org/hc/en-us/articles/4410953761563-Introducing-DRAGMAP-the-new-genome-mapper-in-DRAGEN-GATK). The [nf-core module](https://nf-co.re/modules/dragmap_align) is available (but I never used it to be honest).

[2022-10-27 08:55] apeltzer commented on #106
Since the pipeline is now rewritten in DSL2, we could have a subworkflow that handles the choice of mapper(s) directly, users can then choose what to use.

[2022-10-27 12:19] chrstphdm opened #145 "Evaluate interest of using an algorithm for combining results"
### Description of feature

Hello.

Because all typing tools have their limitations & advantages (datatype, reads length, read depth, resolution, type of genes typable, etc.), it could be interesting to add some of them as modules activable (txs to DSL2) or not and implementing a combining results algorithm.

[SweHAL](https://www.nature.com/articles/s41431-019-0559-2) paper use results from Optity

[2022-10-28 07:22] christopher-mohr commented on #145
Hi @chrstphdm,

thanks a lot for the suggestion! I still have to check the publications you shared in detail but in general I think we should definitely aim for something like that with the `hlatyping` pipeline.

As mentioned earlier on Slack, I would start here with creating new modules for other existing HLA genotyping tools (e.g. I would start by adding one for `arcasHLA`) and then we can conti

[2022-11-07 11:04] chrstphdm opened #146 "adding HLAscan as a new module"
### Description of feature

Hello,

As described in #145, adding more typing tools could allow us (among other things) to set up a result combination algorithm. This algorithm do not offer the best results (according to [this](https://www.frontiersin.org/articles/10.3389/fimmu.2021.688183/full) and [this](https://www.frontiersin.org/articles/10.3389/fimmu.2021.652258) benchmark for exemple) but is

[2022-11-07 20:08] chrstphdm opened #147 "adding HLA-VBseq as a new module"
### Description of feature

### Algorithm/tool short description

### Original paper

https://pubmed.ncbi.nlm.nih.gov/25708870/

### Source code/binary

http://nagasakilab.csml.org/hla/

### Licence

[2022-11-08 14:16] apeltzer commented on #146
Similar issue (saw also the discussion on Slack): Licencing and only binaries available 👎🏻 Epitopeprediction had similar issues, where eventually some open source method provided better rersults than the proprietary closed source thing and we "kind of dropped" it there (mhcpan / netmhcpan).

[2022-11-10 13:31] praveenraj2018 opened #148 "No cat_fastq? Sample with multiple run are not handled"
### Description of the bug

Just noticed that when the pipeline is run with data from multiple libraries/runs, the pipeline produces results for each library/line separately which is a bit odd behavior. But you might know that such scenarios are handled in other pipelines such `rnaseq` and `rnavar` and even `sarek`.

Looks like the `cat_fastq` feature is not implemented in this pipeline.

Any spec

[2022-11-18 06:12] jowkar opened #149 "The example sample sheet for running with BAM file input seems incorrect"
### Description of the bug

I am having trouble writing a sample sheet that works for input with BAM files (v. 2.0.0). Looking at the example in the documentation, the following is supposed to be the format:

[code]

Formatting my own data according to this format leads to a sample sheet validation error:

[code]

To test further, I tracked down the sample sheet validation script (check_sampleshee

[2022-11-18 07:30] christopher-mohr commented on #149
Hi @jowkar, thanks for your report. This seems to be an error in the documentation. You can see a working example in the [full test sample sheet](https://raw.githubusercontent.com/nf-core/test-datasets/hlatyping/samplesheets/samplesheet_full.csv) which looks like the following:

[code]

Basically the `bam` file just has to be provided in the `bam` column. Please let us know if you tried it like th

[2022-11-28 08:45] christopher-mohr commented on #149
Hi @jowkar, any update on this?

[2022-11-28 11:53] jowkar commented on #149
What I have tried so far is modifying the example sheet according to your comment and running it through the validation script. It passes that validation. However, I briefly tried running my actual data after also modifying the actual sample sheet in the same way and it did not work, and gave a similar validation-related error message. I was intending to look into it more and make sure I didn't ju